<nav class="navbar navbar-expand-md p-3 border-bottom shadow-sm" id="topbar" style="background-color: #fff;">
    <div class="container-fluid">
      <a class="navbar-brand" draggable="false" href="#">
        ARCHIVES VISION
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_archivist_home']) }}" draggable="false" href="{{ path('app_archivist_home') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_archives_folders_directory', 'app_archives_folder_content']) }}" draggable="false" href="{{ path('app_archives_folders_directory') }}">Fonds d'archives</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_departements']) }}" draggable="false" href="{{ path('app_departements') }}">Numérisation #</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_archivist_chat']) }}" draggable="false" href="{{ path('app_archivist_notifs') }}">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_archivist_chat']) }}" draggable="false" href="{{ path('app_archivist_chat') }}">Messagerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_archivist_profile']) }}" draggable="false" href="{{ path('app_archivist_profile') }}">Mon Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ set_active_route(['app_logout']) }}" id="logout-button" draggable="false" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
</nav>