<!DOCTYPE html>

<title>Dossier</title>

{% block body %}
    <h1>Dossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier.id }}</td>
            </tr>
            <tr>
                <th>Libelle_dossier</th>
                <td>{{ dossier.libelleDossier }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ dossier.format }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ dossier.tags }}</td>
            </tr>
            <tr>
                <th>Parent</th>
                <td>{{ dossier.parent ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_index') }}">back to list</a>

    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>

    {{ include('dossier/_delete_form.html.twig') }}
{% endblock %}
