{% extends 'layouts/base.html.twig' %}

{% block title %}
	Messagerie &middot;
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/theme.bundle.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/scrollbar.css') }}">

	<style>

		body {
			background-color: #f9fbfd;
			overflow: hidden;
		}

		input.form-control:focus,
		.form-select:focus {
			border-color: #0d6efd;
			outline: 0;
			box-shadow: 0 0 0 0;
		}

		#messaging-container {
			display: flex;
			height: 100vh;
			overflow: hidden;
		}

		#user-list {
			width: 25%;
			background-color: #fff;
			border-right: 1px solid #ddd;
		}

		#chat-container {
			flex: 1;
			display: flex;
			flex-direction: column;
			height: 600px;
		}

		#message-list {
			flex: 1;
			overflow-y: auto;
			padding: 20px;
		}

		#message-input {
			padding: 10px;
			border-top: 1px solid #ddd;
			display: flex;
			align-items: center;
			background-color: #fff;
		}

		#message-input input {
			flex: 1;
			padding: 8px;
			border: none;
			border-radius: 5px;
			margin-right: 10px;
		}

		input#inputUserSearch:focus {
			outline: none;
		}

		#send-button {
			padding: 8px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		li.user-unit {
			border: none;
		}

		li.user-unit:hover {
			background-color: #EEEEEE;
		}

	</style>
{% endblock %}

{% block body %}
	{{ include('layouts/partials/_logout.html.twig') }}
	<div class="load-div" style="display:none">
		<div id="loading-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="display: none; background-color: rgba(255, 255, 255, 0.8);">
			<div class="text-center">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
				<p class="mt-2">Veuillez patienter...</p>
			</div>
		</div>
	</div>
	<div class="main-content">
		{{ include('layouts/partials/archivman/_navbar-archivman.html.twig') }}
	</div>
	<div name="1" class="container mb-4" style="display:none;margin-top:20px">

		<div class="mb-2 border shadow rounded" style="background:url({{ asset('assets/imgs/pattern.png') }})">
			<div>
				<div class="row justify-content-center">
					<div class="shadow-sm rounded" style="width: calc(100% - 22px);background-color:#fff">
						<div class="row align-items-center pt-4 pb-2 ps-5 mb-3">
							<div
								class="col-auto">
								<!-- Avatar -->
								<a href="#" class="avatar">
									<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
								</a>
							</div>
							<div
								class="col ms-n2">
								<!-- Title -->
								<h4 class="mb-1 name">
									<span href="#">Hazard Eric</span>
								</h4>

								<!-- Time -->
								<p class="small mb-0">
									<span class="text-secondary">en ligne</span>
								</p>

							</div>
						</div>
						<!-- / .row -->
					</div>
				</div>
				<div id="msg-list" style="height:425px;overflow-y:auto;padding:20px 30px 20px 30px">
					<div id="msg">
						<div id="msg-sent" style="display:flex">
							<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
								<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-coming" style="display:flex;align-items:flex-end">
							<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
							<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
								<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-sent" style="display:flex">
							<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
								<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Salut Monsieur l'archiviste</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-coming" style="display:flex;align-items:flex-end">
							<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
							<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
								<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Bonjour Utilisateur 1</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-sent" style="display:flex">
							<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
								<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Salut Monsieur l'archiviste</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-coming" style="display:flex;align-items:flex-end">
							<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
							<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
								<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Bonjour Utilisateur 1</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-sent" style="display:flex">
							<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
								<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Salut Monsieur l'archiviste</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-coming" style="display:flex;align-items:flex-end">
							<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
							<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
								<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Bonjour Utilisateur 1</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-sent" style="display:flex">
							<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
								<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Salut Monsieur l'archiviste</p>
							</div>
						</div>
					</div>
					<div id="msg">
						<div id="msg-coming" style="display:flex;align-items:flex-end">
							<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
							<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
								<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Bonjour Utilisateur 1</p>
							</div>
						</div>
					</div>
				</div>
				<div class="pt-0 pb-2" style="background-color:#EDEDED;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
					<div class="row align-items-center pt-3 pb-2 pe-4 ps-4">
						<form class="col-auto" id="typing-area" style="display:flex">
							<input
							type="text" style="width:955px;margin-right:10px;border:none" class="form-control" id="formGroupExampleInput" autofocus placeholder="Ecrivez votre message ici..."/>
							<!-- Button -->
							<button class="btn btn-light" style="width:250px;margin-right:10px">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewbox="0 0 16 16">
									<path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
								</svg>
								Joindre un fichier
							</button>
							<!-- Button -->
							<button class="btn btn-info" style="width:175px">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewbox="0 0 16 16">
									<path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
								</svg>
								Envoyer
							</button>
						</form>
					</div>
				</div>
			</div>
			<!-- / .row -->
		</div>
	</div>

	<div
		id="messaging-container">
		<!-- Liste des utilisateurs -->
		<div id="user-list">
			<div class="user-item" style="height:80%">
				<div class="input-group input-group-merge input-group-reverse p-3 mb-3" style="">
					<input class="form-control" id="user-searchbar" placeholder="Rechercher un destinataire" style="border:1px solid #ddd;border-left:none" type="text" aria-label="Input group reverse" aria-describedby="inputGroupReverse">
					<div class="input-group-text" style="border:1px solid #ddd;border-right:none" id="inputUserSearch">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewbox="0 0 16 16">
							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
						</svg>
					</div>
				</div>
				<div style="height:100%;overflow-y:auto">
					<ul class="list-group list-group-flush list ">
						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Hazard Eric</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-success">●</span>
											Connecté(e)
										</p>

									</div>
									<div class="col-auto">

										<span class="badge bg-primary rounded-pill">1</span>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3 bg-info-subtle">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 1</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-success">●</span>
											Connecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>

						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>
						
						<li class="list-group-item user-unit p-3">
							<a class="" style="text-decoration:none;color:black" href="#" draggable="false">
								<div class="row align-items-center">
									<div
										class="col-auto">

										<!-- Avatar -->
										<span class="avatar">
											<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle">
										</span>

									</div>
									<div
										class="col ms-n2">

										<!-- Title -->
										<h4 class="mb-1 name">
											<span>Utilisateur 2</span>
										</h4>

										<!-- Time -->
										<p class="small mb-0">
											<span class="text-warning">●</span>
											Déconnecté(e)
										</p>

									</div>
								</div>
								<!-- / .row -->
							</a>
						</li>
					</li>
				</li>
			</ul>
		</div>
	</div>
	<!-- Ajouter d'autres utilisateurs ici -->
</div>

<!-- Conteneur principal des messages -->
<div id="chat-container" style="background:url({{ asset('assets/imgs/pattern.png') }})">
	<div class="row justify-content-center" style="padding-left:11px;">
		<div style="height:65px;background-color: #fff;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd">
			<div class="row align-items-center pt-3 pb-2 ps-4 mb-3">
				<div
					class="col-auto">
					<!-- Avatar -->
					<a href="#" class="avatar">
						<img src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="..." class="avatar-img rounded-circle" style="width:45px;height:45px">
					</a>
				</div>
				<div
					class="col ms-n2">
					<!-- Title -->
					<h4 class="mb-1 name">
						<span href="#">Utilisateur 1</span>
					</h4>

					<!-- Time -->
					<p class="small mb-0">
						<span class="text-secondary">en ligne</span>
					</p>

				</div>
			</div>
			<!-- / .row -->
		</div>
	</div>
	<!-- Liste des messages -->
	<div
		id="message-list">
		<!-- Exemple de message -->
		<div id="msg">
			<div id="msg-sent" style="display:flex">
				<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
					<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-coming" style="display:flex;align-items:flex-end">
				<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
				<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
					<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-sent" style="display:flex">
				<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
					<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-coming" style="display:flex;align-items:flex-end">
				<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
				<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
					<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-sent" style="display:flex">
				<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
					<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-coming" style="display:flex;align-items:flex-end">
				<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
				<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
					<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-sent" style="display:flex">
				<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
					<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-coming" style="display:flex;align-items:flex-end">
				<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
				<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
					<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-sent" style="display:flex">
				<div id="details" style="max-width:calc(100% - 210px);margin-left:auto">
					<p class="text-bg-dark" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 0 18px;">Bonjour Utilisateur 1</p>
				</div>
			</div>
		</div>
		<div id="msg">
			<div id="msg-coming" style="display:flex;align-items:flex-end">
				<img class="avatar-img rounded-circle" src="{{ asset('assets/imgs/default-image-user.jpg') }}" alt="" style="height:40px;width:40px"/>
				<div id="details" style="max-width:calc(100% - 210px);margin-left:10px;margin-right:auto">
					<p class="text-bg-light" style="padding:8px 16px;word-wrap:break-word;border-radius:18px 18px 18px 0;">Salut Monsieur l'archiviste</p>
				</div>
			</div>
		</div>
		<!-- Ajouter d'autres messages ici -->
	</div>

	<!-- Zone de saisie des messages -->
	<div id="message-input">
		<a class="pe-1" draggable="false" type="upload" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewbox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
			</svg>
		</a>
		<input type="text" style="outline:none" placeholder="Écrire un message...">
		<button class="btn btn-info" id="send-button">Envoyer</button>
	</div>
</div></div></div>{% for flashMessage in app.flashes('success') %}{{ include('layouts/partials/_success_login_flash_msg.html.twig')}}{% endfor %}<script src="{{ asset('assets/js/gime-toast.js') }}"></script><script src="{{ asset('assets/js/chat.js') }}"></script>{% endblock %}
