<nav class="navbar navbar-expand-md p-3 border-bottom shadow-sm" id="topbar" style="background-color: #fff;">
    <div class="container-fluid">
      <a class="navbar-brand" draggable="false" href="#">
        ARCHIVES VISION
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 {{ set_active_route('app_admin_home') }}" draggable="false" href="{{ path('app_admin_home') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 {{ set_active_route('app_departements') }}" draggable="false" href="{{ path('app_departements') }}">Départements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 {{ set_active_route('app_users') }}" draggable="false" href="{{ path('app_users') }}">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 " draggable="false" href="">Audit & Suivi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 {{ set_active_route('app_logout') }}" draggable="false" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>