{% extends 'layouts/base.html.twig' %}

{% block title %}
	Départements &middot;
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/theme.bundle.css') }}">

	<style>

		body {
			background-color: #f9fbfd;
			overflow-x: hidden;
		}

		input.form-control:focus,
		.form-select:focus {
			border-color: #0d6efd;
			outline: 0;
			box-shadow: 0 0 0 0;
		}

		#save {
			background-color: #fff;
			color: #2c7be5;
			font-size: smaller;
		}

		#save:hover {
			background-color: #2c7be5;
			color: #fff;
		}

		#cancel {
			font-size: smaller;
		}

		#cancel:hover {
			background-color: #6e84a3;
		}
	</style>
{% endblock %}

{% block body %}
	{{ include('layouts/partials/_logout.html.twig') }}
	<div class="load-div" style="display:none">
		<div id="loading-overlay" class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="display: none; background-color: rgba(255, 255, 255, 0.8);">
			<div class="text-center">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
				<p class="mt-2">Veuillez patienter...</p>
			</div>
		</div>
	</div>
	<div class="main-content">
		{{ include('layouts/partials/admin/_navbar-admin.html.twig')}}

		<div class="header">
			<div
				class="container">
				<!-- Body -->
				<div class="header-body border-bottom mt-4 mb-4" style="border-color:rgba(18, 38, 63, 0.175)">
					<div class="row align-items-end">
						<div
							class="col pb-3">

							<!-- Title -->
							<h4 class="header-title">
								Départements
							</h1>

						</div>
						<div
							class="col-auto pb-3">

							<!-- Button -->
							<a href="#!" draggable="false" class="btn btn-info lift" data-bs-toggle="modal" data-bs-target="#createDEP">
								Ajouter un département
							</a>

							<!-- Modal -->
							<div class="modal fade" id="createDEP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
									<div class="modal-content">
										<div class="modal-header">
											<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Editer un département</h6>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form action="" method="post">
												<div class="mb-3">
													<label for="exampleFormControlInput1" class="form-label">Nom du département</label>
													<input type="text" readonly class="form-control" id="exampleFormControlInput1" placeholder="Entrer le nom du département">
												</div>

												<div class="mb-3">
													<label for="email1Group" class="form-label">Email</label>
													<div class="input-group mb-3">
														<input type="text" class="form-control" id="email1Group" placeholder="Préfixe de l'adresse" aria-label="Recipient's username" aria-describedby="basic-addon2">
														<span class="input-group-text" id="basic-addon2">@entreprise.com</span>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer" style="border-top: 0;">
											<button type="button" id="" class="btn btn-outline-info mb-2" data-bs-dismiss="modal">Annuler</button>
											<button type="button" id="" class="btn btn-outline-primary mb-2">Enregistrer</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / .row -->
				</div>
				<!-- / .header-body -->
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-12">
				<div class="mb-3">
					<label for="formGroupExampleInput" class="form-label autofocus">Rechercher</label>
					<input type="search" class="form-control list-search" id="formGroupExampleInput" autofocus placeholder="Quel département recherchez-vous?">
				</div>
			</div>

		</div>

		<div class="card shadow" id="lists" data-list="">

			<div
				class="card-body">

				<!-- List group -->
				<ul class="list-group list-group-flush list my-n3">
					<li class="list-group-item">
						<div class="row align-items-center">
							<div class="col-auto"></div>
							<div
								class="col ms-n2">

								<!-- Title -->
								<h5 class="mb-1 name">
									<span>Comptabilité</span>
								</h5>

								<!-- Time -->
								<p class="small mb-0">
									Email:
									<span style="color:blue;">compta@entreprise.com</span>
								</p>
								<p class="small mb-0">
									Utilisateurs:
									<span style="color:blue;">0</span>
								</p>

							</div>
							<div
								class="col-auto" id="edit">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#editCOMPTA" style="border: 1px solid grey">
									Editer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="editCOMPTA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Editer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form action="" method="post">
													<div class="mb-3">
														<label for="exampleFormControlInput1" class="form-label">Nom du département</label>
														<input type="text" readonly class="form-control" id="exampleFormControlInput1" value="Comptabilité">
													</div>

													<div class="mb-3">
														<label for="email1Group" class="form-label">Email</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control" id="email1Group" value="compta1" aria-label="Recipient's username" aria-describedby="basic-addon2">
															<span class="input-group-text" id="basic-addon2">@entreprise.com</span>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info mb-2" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="" class="btn btn-outline-primary mb-2">Enregistrer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div
								class="col-auto" id="del">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delCOMPTA" style="border: 1px solid brown">
									Supprimer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="delCOMPTA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Supprimer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<span>Etes-vous sûr de vouloir supprimer ce département "Comptabilité" ?</span>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info mb-2" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="delete" class="btn btn-outline-danger mb-2">Supprimer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- / .row -->
					</li>
					<li class="list-group-item">
						<div class="row align-items-center">
							<div class="col-auto"></div>
							<div
								class="col ms-n2">

								<!-- Title -->
								<h5 class="mb-1 name">
									<span>Informatique</span>
								</h5>

								<!-- Time -->
								<p class="small mb-0">
									Email:
									<span style="color:blue;">infotech@entreprise.com</span>
								</p>

								<p class="small mb-0">
									Utilisateurs:
									<span style="color:blue;">0</span>
								</p>

							</div>
							<div
								class="col-auto" id="edit">

								<!-- Button -->
								<a type="button" draggable="false" href="#!" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#editINFO" style="border: 1px solid grey">
									Editer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="editINFO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Editer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form action="" method="post">
													<div class="mb-3">
														<label for="exampleFormControlInput1" class="form-label">Nom du département</label>
														<input type="text" readonly class="form-control" id="exampleFormControlInput1" value="Informatique">
													</div>

													<div class="mb-3">
														<label for="email1Group" class="form-label">Email</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control" id="email1Group" value="infotech" aria-label="Recipient's username" aria-describedby="basic-addon2">
															<span class="input-group-text" id="basic-addon2">@entreprise.com</span>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info mb-2" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="" class="btn btn-outline-primary mb-2">Enregistrer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div
								class="col-auto" id="del">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delINFO" style="border: 1px solid brown">
									Supprimer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="delINFO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Supprimer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<span>Etes-vous sûr de vouloir supprimer ce département "Informatique" ?</span>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="" class="btn btn-outline-danger">Supprimer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- / .row -->
					</li>
					<li class="list-group-item">
						<div class="row align-items-center">
							<div class="col-auto"></div>
							<div
								class="col ms-n2">

								<!-- Title -->
								<h5 class="mb-1 name">
									<span>Ressources Humaines</span>
								</h5>

								<!-- Email -->
								<p class="small mb-0">
									Email:
									<span style="color:blue;">rh@entreprise.com</a>
								</p>

								<!-- Users -->
								<p class="small mb-0">
									Utilisateurs:
									<span style="color:blue;">0</span>
								</p>

							</div>
							<div
								class="col-auto" id="edit">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-light" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#editRH" style="border: 1px solid grey">
									Editer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="editRH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Editer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<form action="" method="post">
													<div class="mb-3">
														<label for="exampleFormControlInput1" class="form-label">Nom du département</label>
														<input type="text" readonly class="form-control" id="exampleFormControlInput1" value="Ressources Humaines">
													</div>

													<div class="mb-3">
														<label for="email1Group" class="form-label">Email</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control" id="email1Group" value="rh@entreprise.com" aria-label="Recipient's username" aria-describedby="basic-addon2">
															<span class="input-group-text" id="basic-addon2">@entreprise.com</span>
														</div>
													</div>
												</form>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info mb-2" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="" class="btn btn-outline-primary mb-2">Enregistrer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div
								class="col-auto" id="del">

								<!-- Button -->
								<a href="#!" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delRH" style="border: 1px solid brown">
									Supprimer
								</a>

								<!-- Modal -->
								<div class="modal fade" id="delRH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-card">
										<div class="modal-content">
											<div class="modal-header">
												<h6 class="card-header-title" id="exampleModalLabel" style="font-size:15px">Supprimer un département</h6>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<span>Etes-vous sûr de vouloir supprimer ce département "Ressources Humaines" ?</span>
											</div>
											<div class="modal-footer" style="border-top: 0;">
												<button type="button" id="" class="btn btn-outline-info" data-bs-dismiss="modal">Annuler</button>
												<button type="button" id="" class="btn btn-outline-danger">Supprimer</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- / .row -->
					</li>
				</ul>

			</div>
		</div>

	</div>
	{% for flashMessage in app.flashes('success') %}
		{{ include('layouts/partials/_success_login_flash_msg.html.twig')}}
	{% endfor %}

{% endblock %}
